<!-- Header START -->
<!-- Pre loader -->
<div class="preloader">
	<div class="preloader-item">
		<div class="spinner-grow text-primary"></div>
	</div>
</div>


<header class="navbar-light header-sticky" *ngIf="authService.isAdmin()">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-xl">
		<div class="container">
			<!-- Logo START -->
			<a class="navbar-brand" routerLink="">
				<img class="light-mode-item navbar-brand-item" src="assets/images/logo.svg" alt="logo">
				<img class="dark-mode-item navbar-brand-item" src="assets/images/logo-light.svg" alt="logo">
			</a>
			<!-- Logo END -->
			
			<!-- Responsive navbar toggler -->
			<button class="navbar-toggler ms-auto mx-3 me-xl-0 p-0 p-sm-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-animation">
					<span></span>
					<span></span>
					<span></span>
				</span>
			</button>

			<!-- Main navbar START -->
			<div class="navbar-collapse collapse" id="navbarCollapse">
				<!-- Nav traveler menu START -->
				<div class="navbar-nav navbar-nav-scroll me-auto">
					<!-- Nav item 1 Demos -->
					
						<a class="nav-link  rounded px-3 py-3 py-xl-0" routerLink="vol"  >
							<i class="fa-solid fa-suitcase-rolling"></i> Vols
						</a>
						
					
				</div>
				<!-- Nav traveler menu END -->

				<!-- Nav main menu START -->
				<ul class="navbar-nav navbar-nav-scroll me-auto">
					<!-- Nav item Listing -->
				

					<!-- Nav item Pages -->
					<li class="nav-item dropdown">
						<a class="nav-link " routerLink="listhotel" >Hotels</a>
					
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link " routerLink="listtour" >Tours</a>
					
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link " routerLink="listcoupon" >Coupons</a>
					
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link " routerLink="admin-dash" >admin-dash</a>
					
					</li>
					
					<!-- Nav item Account -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="accounntMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Accounts</a>
						<ul class="dropdown-menu" aria-labelledby="accounntMenu">
							<!-- Dropdown submenu -->
							<li class="dropdown-submenu dropend" *ngIf="authService.isAdmin()">
								<a class="dropdown-item dropdown-toggle" href="#">Airline</a>
								<ul class="dropdown-menu" data-bs-popper="none">
									<li> <a class="dropdown-item" routerLink="addairline">add airline</a> </li>
									<li> <a class="dropdown-item" routerLink="listairline">List airline</a> </li>
							
								</ul>
							</li>

							<li class="dropdown-submenu dropend" *ngIf="authService.isAdmin()">
								<a class="dropdown-item dropdown-toggle" href="#">Hotel</a>
								<ul class="dropdown-menu" data-bs-popper="none">
									<li> <a class="dropdown-item" routerLink="addhotel">add hotel</a> </li>
									<li> <a class="dropdown-item" routerLink="listhotel">List hotel</a> </li>
								
								</ul>
							</li>

							
							<!-- Dropdown submenu -->
							<li class="dropdown-submenu dropend">
								<a class="dropdown-item dropdown-toggle" href="#">vol</a>
								<ul class="dropdown-menu" data-bs-popper="none">
									<li> <a class="dropdown-item" routerLink="addvol">add vol</a> </li>
									<li> <a class="dropdown-item" routerLink="listvol">List vol</a> </li>
								
								</ul>
							</li>

							<li class="dropdown-submenu dropend">
								<a class="dropdown-item dropdown-toggle" href="#">Tour</a>
								<ul class="dropdown-menu" data-bs-popper="none">
									<li> <a class="dropdown-item" routerLink="addtour">add tour</a> </li>
									<li> <a class="dropdown-item" routerLink="listtour">List tour</a> </li>
									<li> <a class="dropdown-item" routerLink="adminlisttour">admin List tour</a> </li>
								
								</ul>
							</li>

							<li class="dropdown-submenu dropend">
								<a class="dropdown-item dropdown-toggle" href="#">coupon</a>
								<ul class="dropdown-menu" data-bs-popper="none">
									<li> <a class="dropdown-item" routerLink="addcoupon">add coupon</a> </li>
									<li> <a class="dropdown-item" routerLink="listcoupon">List coupon</a> </li>
								
								</ul>
							</li>
							
							<!-- <li> <a class="dropdown-item" href="admin-dashboard.html">Master Admin <span class="badge bg-success ms-1 smaller">New</span></a> </li> -->
						</ul>
					</li>

          <!-- Nav item link-->
					<li class="nav-item dropdown">
						<a class="nav-link" href="#" id="advanceMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-ellipsis-h"></i>
						</a>
						<ul class="dropdown-menu min-w-auto" data-bs-popper="none">
							<li> 
								<a class="dropdown-item" href="https://support.webestica.com/" target="_blank">
									<i class="text-warning fa-fw bi bi-life-preserver me-2"></i>Support
								</a> 
							</li>
							<li> 
								<a class="dropdown-item" href="docs/index.html" target="_blank">
									<i class="text-danger fa-fw bi bi-card-text me-2"></i>Documentation
								</a> 
							</li>
							<li> <hr class="dropdown-divider"></li>
							<li> 
								<a class="dropdown-item" href="rtl/index.html" target="_blank">
									<i class="text-info fa-fw bi bi-toggle-off me-2"></i>RTL demo
								</a> 
							</li>
							<li> 
								<a class="dropdown-item" href="https://themes.getbootstrap.com/store/webestica/" target="_blank">
									<i class="text-success fa-fw bi bi-cloud-download-fill me-2"></i>Buy Booking!
								</a> 
							</li>
							<li> <hr class="dropdown-divider"></li>
							<li> 
								<a class="dropdown-item" href="docs/alerts.html" target="_blank">
									<i class="text-orange fa-fw bi bi-puzzle-fill me-2"></i>Components
								</a> 
							</li>
						</ul>
					</li>
				</ul>
				<!-- Nav main menu END -->
			</div>
			<!-- Main navbar END -->

			<!-- Navbar right side START -->
			<ul class="nav flex-row align-items-center list-unstyled ms-xl-auto">
				<!-- Dark mode switch -->
				<li class="nav-item modeswitch-mini me-2" id="darkModeSwitch">
					<div class="modeswitch-mini-item">
						<a class="modeswitch-mini-icon" (click)="toggleDarkTheme()"></a>
					</div>
				</li>

				<!-- Search -->
				<li class="nav-item dropdown nav-search me-2">
					<a class="nav-link mb-0 py-0" role="button" href="#" id="navSearch" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside" data-bs-display="static">
						<i class="bi bi-search fs-5"> </i>
					</a>
					<div class="dropdown-menu dropdown-menu-end shadow rounded p-2" aria-labelledby="navSearch">
						<form class="input-group">
							<input class="form-control border-primary" type="search" placeholder="Search..." aria-label="Search">
							<button class="btn btn-primary m-0" type="submit">Search</button>
						</form>
					</div>
				</li>

				<!-- Sign In button -->
				<li class="nav-item ms-2 d-none d-sm-block" *ngIf="!authService.isloggedIn">
					<a routerLink="register" class="btn btn-sm btn-primary-soft mb-0"><i class="fa-solid fa-right-to-bracket me-2"></i>Sign Up</a>
					&nbsp;
					<a routerLink="login" class="btn btn-sm btn-primary-soft mb-0"><i class="fa-solid fa-right-to-bracket me-2"></i>Login</a>
				</li>

				

				
				<!-- Notification dropdown START -->

				<app-notif></app-notif>
				<!-- Notification dropdown END -->

				<!-- Profile dropdown START -->
				<li class="nav-item dropdown" *ngIf="authService.isloggedIn">
					<!-- Avatar -->
					<a class="avatar avatar-sm p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
						<img class="avatar-img rounded-2" src="assets/images/user.png" alt="avatar">
					</a>

					<ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown">
						<!-- Profile info -->
						<li class="px-3 mb-3">
							<div class="d-flex align-items-center">
								<!-- Avatar -->
								<div class="avatar me-3">
									<img class="avatar-img rounded-circle shadow" src="assets/images/user.png" alt="avatar">
								</div>
								<div>
									<a class="h6 mt-2 mt-sm-0" href="#">{{authService.loggedUser}}</a>
									<p class="small m-0">example@gmail.com</p>
								</div>
							</div>
						</li>

						<!-- Links -->
						<li> <hr class="dropdown-divider"></li>
						<li><a class="dropdown-item" routerLink="/mybooking"><i class="bi bi-bookmark-check fa-fw me-2"></i>My Bookings</a></li>
						<li><a class="dropdown-item" href="#"><i class="bi bi-heart fa-fw me-2"></i>My Wishlist</a></li>
						<li><a class="dropdown-item" href="#"><i class="bi bi-gear fa-fw me-2"></i>Settings</a></li>
						<li><a class="dropdown-item" href="#"><i class="bi bi-info-circle fa-fw me-2"></i>Help Center</a></li>
						<li><a class="dropdown-item bg-danger-soft-hover" (click) = "onLogout()"><i class="bi bi-power fa-fw me-2"></i>Sign Out</a></li>
						<li> <hr class="dropdown-divider"></li>

						<!-- Dark mode switch START -->
						<li>
							<div class="modeswitch-wrap" id="darkModeSwitch">
								<div class="modeswitch-item">
									<a class="modeswitch-icon" (click)="toggleDarkTheme()"></a>
								</div>
								<span>Dark mode</span>
							</div>
						</li> 
						<!-- Dark mode switch END -->
					</ul>
				</li>
				<!-- Profile dropdown END -->
				
			</ul>
			<!-- Navbar right side END -->

		</div>
	</nav>
	<!-- Logo Nav END -->
</header>

<header class="navbar-light header-sticky" *ngIf="!authService.isAdmin()">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-xl">
		<div class="container">
			<!-- Logo START -->
			<a class="navbar-brand" routerLink="">
				<img class="light-mode-item navbar-brand-item" src="assets/images/logo.svg" alt="logo">
				<img class="dark-mode-item navbar-brand-item" src="assets/images/logo-light.svg" alt="logo">
			</a>
			<!-- Logo END -->
			
			<!-- Responsive navbar toggler -->
			<button class="navbar-toggler ms-auto mx-3 me-xl-0 p-0 p-sm-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-animation">
					<span></span>
					<span></span>
					<span></span>
				</span>
			</button>

			<!-- Main navbar START -->
			<div class="navbar-collapse collapse" id="navbarCollapse">
				<!-- Nav traveler menu START -->
				<div class="navbar-nav navbar-nav-scroll me-auto">
					<!-- Nav item 1 Demos -->
					
						<a class="nav-link  rounded px-3 py-3 py-xl-0" routerLink="vol"  >
							<i class="fa-solid fa-suitcase-rolling"></i> Vols
						</a>
						
					
				</div>
				<!-- Nav traveler menu END -->

				<!-- Nav main menu START -->
				<ul class="navbar-nav navbar-nav-scroll me-auto">
					<!-- Nav item Listing -->
				

					<!-- Nav item Pages -->
					<li class="nav-item dropdown">
						<a class="nav-link " routerLink="listhotel" >Hotels</a>
					
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link " routerLink="listtour" >Tours</a>
					
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link " routerLink="listcoupon" >Coupons</a>
					
					</li>

					
					
				

          <!-- Nav item link-->
					<li class="nav-item dropdown">
						<a class="nav-link" href="#" id="advanceMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-ellipsis-h"></i>
						</a>
						<ul class="dropdown-menu min-w-auto" data-bs-popper="none">
							<li> 
								<a class="dropdown-item" href="https://support.webestica.com/" target="_blank">
									<i class="text-warning fa-fw bi bi-life-preserver me-2"></i>ser
								</a> 
							</li>
							<li> 
								<a class="dropdown-item" href="docs/index.html" target="_blank">
									<i class="text-danger fa-fw bi bi-card-text me-2"></i>Documentation
								</a> 
							</li>
							<li> <hr class="dropdown-divider"></li>
							<li> 
								<a class="dropdown-item" href="rtl/index.html" target="_blank">
									<i class="text-info fa-fw bi bi-toggle-off me-2"></i>RTL demo
								</a> 
							</li>
							<li> 
								<a class="dropdown-item" href="https://themes.getbootstrap.com/store/webestica/" target="_blank">
									<i class="text-success fa-fw bi bi-cloud-download-fill me-2"></i>Buy Booking!
								</a> 
							</li>
							<li> <hr class="dropdown-divider"></li>
							<li> 
								<a class="dropdown-item" href="docs/alerts.html" target="_blank">
									<i class="text-orange fa-fw bi bi-puzzle-fill me-2"></i>Components
								</a> 
							</li>
						</ul>
					</li>
				</ul>
				<!-- Nav main menu END -->
			</div>
			<!-- Main navbar END -->

			<!-- Navbar right side START -->
			<ul class="nav flex-row align-items-center list-unstyled ms-xl-auto">
				<!-- Dark mode switch -->
				<li class="nav-item modeswitch-mini me-2" id="darkModeSwitch">
					<div class="modeswitch-mini-item">
						<a class="modeswitch-mini-icon" (click)="toggleDarkTheme()"></a>
					</div>
				</li>
				
				<!-- Search -->
				<li class="nav-item dropdown nav-search me-2">
					<a class="nav-link mb-0 py-0" role="button" href="#" id="navSearch" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside" data-bs-display="static">
						<i class="bi bi-search fs-5"> </i>
					</a>
					<div class="dropdown-menu dropdown-menu-end shadow rounded p-2" aria-labelledby="navSearch">
						<form class="input-group">
							<input class="form-control border-primary" type="search" placeholder="Search..." aria-label="Search">
							<button class="btn btn-primary m-0" type="submit">Search</button>
						</form>
					</div>
				</li>

				<!-- Sign In button -->
				<li class="nav-item ms-2 d-none d-sm-block" *ngIf="!authService.isloggedIn">
					<a routerLink="register" class="btn btn-sm btn-primary-soft mb-0"><i class="fa-solid fa-right-to-bracket me-2"></i>Sign Up</a>
					&nbsp;
					<a routerLink="login" class="btn btn-sm btn-primary-soft mb-0"><i class="fa-solid fa-right-to-bracket me-2"></i>Login</a>
				</li>

				

				
				<!-- Notification dropdown START -->

				<app-notif></app-notif>
				<!-- Notification dropdown END -->

				<!-- Profile dropdown START -->
				<li class="nav-item dropdown" *ngIf="authService.isloggedIn">
					<!-- Avatar -->
					<a class="avatar avatar-sm p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
						<img class="avatar-img rounded-2" src="assets/images/user.png" alt="avatar">
					</a>

					<ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown">
						<!-- Profile info -->
						<li class="px-3 mb-3">
							<div class="d-flex align-items-center">
								<!-- Avatar -->
								<div class="avatar me-3">
									<img class="avatar-img rounded-circle shadow" src="assets/images/user.png" alt="avatar">
								</div>
								<div>
									<a class="h6 mt-2 mt-sm-0" href="#">{{authService.loggedUser}}</a>
									<p class="small m-0">example@gmail.com</p>
								</div>
							</div>
						</li>

						<!-- Links -->
						<li> <hr class="dropdown-divider"></li>
						<li><a class="dropdown-item" routerLink="/mybooking"><i class="bi bi-bookmark-check fa-fw me-2"></i>My Bookings</a></li>
						<li><a class="dropdown-item" href="#"><i class="bi bi-heart fa-fw me-2"></i>My Wishlist</a></li>
						<li><a class="dropdown-item" href="#"><i class="bi bi-gear fa-fw me-2"></i>Settings</a></li>
						<li><a class="dropdown-item" href="#"><i class="bi bi-info-circle fa-fw me-2"></i>Help Center</a></li>
						<li><a class="dropdown-item bg-danger-soft-hover" (click) = "onLogout()"><i class="bi bi-power fa-fw me-2"></i>Sign Out</a></li>
						<li> <hr class="dropdown-divider"></li>

						<!-- Dark mode switch START -->
						<li>
							<div class="modeswitch-wrap" id="darkModeSwitch">
								<div class="modeswitch-item">
									<a class="modeswitch-icon" (click)="toggleDarkTheme()"></a>
								</div>
								<span>Dark mode</span>
							</div>
						</li> 
						<!-- Dark mode switch END -->
					</ul>
				</li>
				<!-- Profile dropdown END -->
				
			</ul>
			<!-- Navbar right side END -->

		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
	
<!-- 	<nav class="navbar top-bar navbar-light py-0 py-xl-3" *ngIf="authService.isAdmin()">
		<div class="container-fluid p-0">
			<div class="d-flex align-items-center w-100">

				
				<div class="d-flex align-items-center d-xl-none">
					<a class="navbar-brand" href="index.html">
						<img class="navbar-brand-item h-40px" src="assets/images/logo-icon.svg" alt="">
					</a>
				</div>
			

				
				<div class="navbar-expand-xl sidebar-offcanvas-menu">
					<button class="navbar-toggler me-auto p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar" aria-expanded="false" aria-label="Toggle navigation" data-bs-auto-close="outside">
						<i class="bi bi-list text-primary fa-fw" data-bs-target="#offcanvasMenu"></i>
					</button>
				</div>
				
				
		
				<div class="navbar-expand-lg ms-auto ms-xl-0">
				
					<button class="navbar-toggler ms-auto p-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTopContent" aria-controls="navbarTopContent" aria-expanded="false" aria-label="Toggle navigation">
						<i class="bi bi-search"></i>
					</button>
				

				
					<div class="collapse navbar-collapse w-100 z-index-1" id="navbarTopContent">
				
						<div class="nav my-3 my-xl-0 flex-nowrap align-items-center">
							<div class="nav-item w-100">
								<form class="position-relative">
									<input class="form-control bg-light pe-5" type="search" placeholder="Search" aria-label="Search">
									<button class="bg-transparent px-2 py-0 border-0 position-absolute top-50 end-0 translate-middle-y" type="submit"><i class="fas fa-search fs-6 text-primary"></i></button>
								</form>
							</div>
						</div>
					
					</div>
				
				</div>
			
				<ul class="nav flex-row align-items-center list-unstyled ms-xl-auto">
					
					<li class="nav-item modeswitch-mini ms-3" id="darkModeSwitch">
						<div class="modeswitch-mini-item">
							<div class="modeswitch-mini-icon"></div>
						</div>
					</li>

				
					<li class="nav-item dropdown ms-3">
					
						<a class="nav-notification btn btn-light p-0 mb-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
							<i class="bi bi-bell fa-fw"></i>
						</a>
					
						<span class="notif-badge animation-blink"></span>
	
					
						<div class="dropdown-menu dropdown-animation dropdown-menu-end dropdown-menu-size-md shadow-lg p-0">
							<div class="card bg-transparent">
							
								<div class="card-header bg-transparent d-flex justify-content-between align-items-center border-bottom">
									<h6 class="m-0">Notifications <span class="badge bg-danger bg-opacity-10 text-danger ms-2">4 new</span></h6>
									<a class="small" href="#">Clear all</a>
								</div>
	
							
								<div class="card-body p-0">
									<ul class="list-group list-group-flush list-unstyled p-2">
									
										<li>
											<a href="#" class="list-group-item list-group-item-action rounded notif-unread border-0 mb-1 p-3">
												<h6 class="mb-2">New! Booking flights from New York ✈️</h6>
												<p class="mb-0 small">Find the flexible ticket on flights around the world. Start searching today</p>
												<span>Wednesday</span>
											</a>
										</li>
								
										<li>
											<a href="#" class="list-group-item list-group-item-action rounded border-0 mb-1 p-3">
												<h6 class="mb-2">Sunshine saving are here 🌞 save 30% or more on a stay</h6>
												<span>15 Nov 2022</span>
											</a>
										</li>
									</ul>
								</div>
							
								<div class="card-footer bg-transparent text-center border-top">
									<a href="#" class="btn btn-sm btn-link mb-0 p-0">See all incoming activity</a>
								</div>
							</div>
						</div>
					
					</li>
				
					<li class="nav-item ms-3 dropdown">
					
						<a class="avatar avatar-sm p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
							<img class="avatar-img rounded-2" src="assets/images/avatar/01.jpg" alt="avatar">
						</a>
	
						<ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown">
						
							<li class="px-3 mb-3">
								<div class="d-flex align-items-center">
								
									<div class="avatar me-3">
										<img class="avatar-img rounded-circle shadow" src="assets/images/avatar/01.jpg" alt="avatar">
									</div>
									<div>
										<a class="h6 mt-2 mt-sm-0" href="#">Lori Ferguson</a>
										<p class="small m-0">example@gmail.com</p>
									</div>
								</div>
							</li>
	
						
							<li> <hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="#"><i class="bi bi-bookmark-check fa-fw me-2"></i>My Bookings</a></li>
							<li><a class="dropdown-item" href="#"><i class="bi bi-heart fa-fw me-2"></i>My Wishlist</a></li>
							<li><a class="dropdown-item" href="#"><i class="bi bi-gear fa-fw me-2"></i>Settings</a></li>
							<li><a class="dropdown-item" href="#"><i class="bi bi-info-circle fa-fw me-2"></i>Help Center</a></li>
							<li><a class="dropdown-item bg-danger-soft-hover" href="#"><i class="bi bi-power fa-fw me-2"></i>Sign Out</a></li>
						</ul>
					</li>
				
				</ul>
				
			</div>
		</div>
	</nav> -->
	

<router-outlet></router-outlet>

<footer>
	<div class="container">
		<div class="bg-dark rounded-top py-5 p-sm-5 mx-0">
    <div class="row g-4 align-items-center text-center text-lg-start">
			<!-- Copyright -->
			<div class="col-lg-5">
				<ul class="nav list-inline text-primary-hover justify-content-center justify-content-lg-start mb-0">
					<li class="list-inline-item"><a class="nav-link text-muted" href="#">About</a></li>
					<li class="list-inline-item"><a class="nav-link text-muted" href="#">Policy</a></li>
					<li class="list-inline-item"><a class="nav-link text-muted pe-0" href="#">Terms & Condition</a></li>
				</ul>
			</div>
			
			<!-- Logo -->
			<div class="col-lg-3 text-center">
				<!-- Logo -->
				<a class="me-0" href="index.html">
					<img class="h-60px" src="assets/images/logo-light.svg" alt="footer logo">
				</a>
				<div class="text-muted text-primary-hover mt-3"> Copyrights <a href="#" class="text-muted">©2022 Booking</a>. All rights reserved. </div>
			</div>

			<!-- Social links -->
			<div class="col-lg-4">
				<ul class="nav text-primary-hover hstack gap-2 justify-content-center justify-content-lg-end">
					<li class="nav-item">
						<a class="nav-link fs-5 text-muted" href="#"><i class="fab fa-facebook-f"></i></a>
					</li>
					<li class="nav-item">
						<a class="nav-link fs-5 text-muted" href="#"><i class="fab fa-twitter"></i></a>
					</li>
					<li class="nav-item">
						<a class="nav-link fs-5 text-muted" href="#"><i class="fab fa-instagram"></i></a>
					</li>
					<li class="nav-item">
						<a class="nav-link fs-5 text-muted" href="#"><i class="fab fa-linkedin-in"></i></a>
					</li>
					<li class="nav-item">
						<a class="nav-link fs-5 text-muted" href="#"><i class="fab fa-github"></i></a>
					</li>
				</ul>
			</div>
		</div>
    </div>
	</div>
</footer>
<!-- =======================
Footer END -->
