<!-- =======================
Content START -->
<section class="pt-3">
	<div class="container">
		<div class="row g-2 g-lg-4">

			<!-- Sidebar START -->
			<div class="col-lg-4 col-xl-3">
				<!-- Responsive offcanvas body START -->
				<div class="offcanvas-lg offcanvas-end" tabindex="-1" id="offcanvasSidebar">
					<!-- Offcanvas header -->
					<div class="offcanvas-header justify-content-end pb-2">
						<button type="button" class="btn-close" data-bs-dismiss="offcanvas"
							data-bs-target="#offcanvasSidebar" aria-label="Close"></button>
					</div>

					<app-user-menu></app-user-menu>

				</div>
				<!-- Responsive offcanvas body END -->
			</div>
			<!-- Sidebar END -->

			<!-- Main content START -->
			<div class="col-lg-8 col-xl-9 ps-xl-5">

				<!-- Offcanvas menu button -->
				<div class="d-grid mb-0 d-lg-none w-100">
					<button class="btn btn-primary mb-4" type="button" data-bs-toggle="offcanvas"
						data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
						<i class="fas fa-sliders-h"></i> Menu
					</button>
				</div>

				<div class="card border bg-transparent">
					<!-- Card header -->
					<div class="card-header bg-transparent border-bottom">
						<h4 class="card-header-title">My Bookings</h4>
					</div>

					<!-- Card body START -->
					<div class="card-body p-0">

						<!-- Tabs -->
						<ul class="nav nav-tabs nav-bottom-line nav-responsive nav-justified">
							<li class="nav-item">
								<a class="nav-link mb-0 active" data-bs-toggle="tab" href="#tab-1"><i
										class="bi bi-briefcase-fill fa-fw me-1"></i>Upcoming Booking</a>
							</li>

							<li class="nav-item">
								<a class="nav-link mb-0" data-bs-toggle="tab" href="#tab-3"><i
										class="bi bi-patch-check fa-fw me-1"></i>Completed Booking</a>
							</li>
						</ul>

						<!-- Tabs content START -->
						<div class="tab-content p-2 p-sm-4" id="nav-tabContent">

							<!-- Tab content item START -->
							<div class="tab-pane fade show active" id="tab-1">
								<h6>Completed booking ({{myres.length}})</h6>
								<!-- Card item START -->
								<div *ngFor="let mybook of myres">
									<div class="card border mb-4" >
										<!-- Card header -->
										<div
											class="card-header border-bottom d-md-flex justify-content-md-between align-items-center">
											<!-- Icon and Title -->
										
											<div class="d-flex align-items-center">
												<div class="icon-lg bg-light rounded-circle flex-shrink-0"><i
														class="fa-solid fa-plane"></i></div>
												<!-- Title -->
												<div class="ms-2">
													<h6 class="card-title mb-0">{{mybook.vol.volFrom}} to
														{{mybook.vol.volTo}}</h6>
													<ul class="nav nav-divider small">
														<li class="nav-item">Booking ID: {{mybook.id}}</li>
														<li class="nav-item">{{mybook.vol.classtype}}</li>
													</ul>
												</div>
											</div>

											<!-- Button -->
											<div class="mt-2 mt-md-0">
												<a href="#" class="btn btn-primary-soft mb-0">Manage Booking</a>
											</div>
										</div>

										<!-- Card body -->
										<div class="card-body">
											<div class="row g-3">
												<div class="col-sm-6 col-md-4">
													<span>Departure time</span>
													<h6 class="mb-0">{{mybook.vol.dep | date: 'MMM d, y, h:mm a'}}</h6>
												</div>

												<div class="col-sm-6 col-md-4">
													<span>Arrival time</span>
													<h6 class="mb-0">{{mybook.vol.fin | date: 'MMM d, y, h:mm a'}}</h6>
												</div>

												<div class="col-md-4">
													<span>Booked by</span>
													<h6 class="mb-0">{{mybook.user.username}}</h6>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Card item END -->


							</div>
							<!-- Tabs content item END -->



							<!-- Tab content item START -->
							<div class="tab-pane fade" id="tab-3" *ngIf="myrescheckout.length==0">
								<div class="bg-mode shadow p-4 rounded overflow-hidden">
									<div class="row g-4 align-items-center">
										<!-- Content -->
										<div class="col-md-9">
											<h6>Looks like you have never booked with BOOKING</h6>
											<h4 class="mb-2">When you book your trip will be shown here.</h4>
											<a href="hotel-list.html" class="btn btn-primary-soft mb-0">Start booking
												now</a>
										</div>
										<!-- Image -->
										<div class="col-md-3 text-end">
											<img src="assets/images/element/17.svg" class="mb-n5" alt="">
										</div>
									</div>
							</div>

								<!-- Card item START -->
								<div class="card border mb-4" *ngFor="let mybook of myrescheckout">
									<!-- Card header -->
									<div
										class="card-header border-bottom d-md-flex justify-content-md-between align-items-center">
										<!-- Icon and Title -->


										<div class="d-flex align-items-center">
											<div class="icon-lg bg-light rounded-circle flex-shrink-0"><i
													class="fa-solid fa-plane"></i></div>
											<!-- Title -->
											<div class="ms-2">
												<h6 class="card-title mb-0">{{mybook.vol.volFrom}} to
													{{mybook.vol.volTo}}</h6>
												<ul class="nav nav-divider small">
													<li class="nav-item">Booking ID: {{mybook.id}}</li>
													<li class="nav-item">{{mybook.vol.classtype}}</li>
												</ul>
											</div>
										</div>

										<!-- Button -->
										<div class="mt-2 mt-md-0">
											<a href="#" class="btn btn-primary-soft mb-0">Manage Booking</a>
										</div>
									</div>

									<!-- Card body -->
									<div class="card-body">
										<div class="row g-3">
											<div class="col-sm-6 col-md-4">
												<span>Departure time</span>
												<h6 class="mb-0">{{mybook.vol.dep | date: 'MMM d, y, h:mm a'}}</h6>
											</div>

											<div class="col-sm-6 col-md-4">
												<span>Arrival time</span>
												<h6 class="mb-0">{{mybook.vol.fin | date: 'MMM d, y, h:mm a'}}</h6>
											</div>

											<div class="col-md-4">
												<span>Booked by</span>
												<h6 class="mb-0">{{mybook.user.username}}</h6>
											</div>
										</div>
									</div>
								</div>
								<!-- Card item END -->

							</div>
							<!-- Tabs content item END -->
						</div>

					</div>
					<!-- Card body END -->
				</div>

			</div>
			<!-- Main content END -->
		</div>
	</div>
</section>
<!-- =======================
Content END -->